<div class="wrapper">
	<div class="content">
		<div class="first-screen header__top">

            <section class="header">
                <div class="container">
                    <div class="header__wrap">
                        <a href="/" class="header__logo">
                            <img src="/template/img/logo.png" alt="" />
                        </a>
                        <div class="burger-wrap">
                            <div class="burger"></div>
                        </div>
                        <ul class="header__navigation">
                            <li><a href="/">{{{translate("Land.Services")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Products")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Portfolios")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Articles")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Stores")}}}</a></li>
                        </ul>
                        <div class="header__btns-wrap">
                            <a
                                href="/manage/profile"
                                class="header__btns-profile"
                            >
                                <img src="/template/img/icons/profile.svg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </section>         

			<section class="welcome">
				<div class="welcome__circle-first">
					<img src="template/img/circle1.png" class="circle-anim" alt="">
					<div class="welcome__circle-second">
						<img src="template/img/circle1.png" class="circle-anim-second" alt="">
					</div>
				</div>
				<div class="container">
					<div class="welcome__title">
						{{{translate("Land.BODY")}}}
					</div>
					<div class="welcome__description">
						{{{translate("Land.Welcome to Body, a well-known destination for all those who want to take care of their body and health from all angles. Our mission is to provide you with the highest quality body related services. Whether you dream of an active lifestyle, are looking for relaxation, or want to achieve harmony with your body, we have prepared an expanded range of services for you. From luxurious spa treatments to effective workouts, from balanced nutrition to skin care, we have everything you need to achieve your personal version of perfect well-being. Body is not just services, it is an approach that helps you discover the potential of your body. We know that everyone is unique, so our programs and services are customized to help you take the first steps toward a better you. Join our community and discover the full range of possibilities for your body's health and well-being. Start your journey with Body today!")}}}
					</div>
					
				</div>
			</section>
		</div>
		<!-- <section class="services">
			<div class="container">
				<div class="services__main-title global-title">
					{{{translate("Land.OUR")}}} <span>{{{translate("Land.SERVICES")}}}</span>
				</div>
				<div class="services__list">
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/hair.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Hair")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users can find the services of a barber and hairstylist ready to match their wishes and style. Here they can find professionals who will provide excellent hairstyles and hair styling.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/food.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Nutritionist")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the ability to find the services of a nutritionist and nutrition consultants that meet their needs in matters of healthy eating.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/sport.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Personal Trainer")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the ability to request the services of a personal fitness trainer, as well as search for professional trainers that match their needs and goals.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/massage.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Massage")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users can post ads for massage therapist services and search for massage therapists that match their requirements and preferences.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/lash.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Lash Maker")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the opportunity to publish their eyebrow and eyelash master services, as well as search for professionals in this field who meet their criteria and wishes.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/teeth.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Dentist")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users can post ads for dentist services and search for dental professionals that meet their needs and requirements.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/makeup.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Make-up")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the opportunity to post ads for the services of a makeup artist. They can also search for makeup professionals who match their requirements, style and preferences.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/laser.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Laser Therapist")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the opportunity to post their laser hair removal specialist services and find professionals in this field who meet their personal criteria and requirements.")}}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<section class="about-us">
			<div class="about-us__img">
				<img src="template/img/about2.jpg" alt="">
			</div>
			<div class="container">
				<div class="about-us__title global-title">
					{{{translate("Land.ABOUT")}}} <span>{{{translate("Land.US")}}}</span>
				</div>
				<div class="about-us__description">
					<p>
						{{{translate("Land.Meet the talented and dedicated team of Body, a platform that helps those who want to take care of their body and health in every possible way. Our team consists of experts in all fields related to the human body and organism.")}}}
					</p>
					<p>
						{{{translate("Land.Each member of our team brings their own unique skills and experience, and we are proud to have assembled a group of people who are passionate about helping people in need. Whatever your query or problem, our team is here to help you with it.")}}}
					</p>
					<p>
						{{{translate("Land.Take a moment to meet our team members and understand why Body is a unique platform you can trust.")}}}
					</p>
				</div>
				<div class="about-us__btn">
					<a href="/team" class="btn">
						{{{translate("Land.MEET THE TEAM")}}}
					</a>
				</div>
			</div>
		</section>

		<!-- <section class="l-product">
			<div class="container">
				<div class="l-estate__main-title global-title">
					BUY <span>PRODUCTS</span>
				</div>
				<div class="product__list">
					{% for product in topProducts %}
					<div class="product__wrap">
						
						<div class="product__item">
							<div class="product__img">
								<img src="{{{product.thumb}}}" alt="" />
							</div>
							<div class="product__title">
								{{{product.name}}}
							</div>
							<pre class="product__description">{{{product.short}}}</pre>
							<div class="product__btn-wrap">
								<a href="/product/{{{product.url || product.id}}}" class="product__btn-heart product__btn-heart--first">
									<span>OPEN</span>
								</a>
								<a href="" class="product__btn-heart product__btn-heart--second">
									<img src="/template/img/icons/cart.svg" alt="" />
								</a>
								<a href="" class="product__btn-heart">
									<img src="/template/img/icons/heart.svg" alt="" />
								</a>
							</div> 
						</div>
						
					</div>
					{% endfor %}
				</div>
			</div>
		</section> -->
		
		<!-- <section class="l-product">
			<div class="container">
				<div class="l-estate__main-title global-title">
					 OUR <span>PORTFOLIO</span>
				</div>
				<div class="product__list">
					{% for portfolio in topPortfolios %}
					<div class="product__wrap">
						<div class="product__item">
							<div class="product__img">
								<img src="{{{portfolio.thumb}}}" alt="" />
							</div>
							<div class="product__title">
								{{{portfolio.name}}}
							</div>
							<pre class="product__description">{{{portfolio.short}}}</pre>
							<div class="product__btn-wrap">
								<a href="/portfolio/{{{portfolio.url || portfolio.id}}}" class="product__btn-heart product__btn-heart--first">
									<span>OPEN</span>
								</a>
							</div> 
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section> -->

			<section class="l-article">
				<div class="container">
					<div class="global-title articles__land-title">
						OUR <span>ARTICLES</span>
					</div>
					<div class="articles__list">
						{% for article in topArticles %}
						<a class="articles__wrap" href="/article/{{{article.url || article.id}}}">
							<div class="articles__item">
								<div class="articles__img">
									<img src="{{{article.thumb}}}" alt="" />
								</div>
								<div class="articles__title">{{{article.name}}}</div>
								<div class="articles__description">{{{article.short}}}</div>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</section>

			<div class="container">
				<div class="global-title articles__land-title">
					MANA<span>GERS</span>
				</div>
			<section class="order-manager">
				{% for agent in agents %}
					<div class="order_agent">
						<img src="https://webart.work{{{agent.thumb}}}" alt="" width="300px">
						<h3>{{{agent.name}}}</h3>
					{% if agent.data.phone %}
						<a href="tel:{{{agent.data.phone}}}">{{{agent.data.phone}}}</a>
					{% endif %}
				</div>
				<div class="order">
				{% for experience in agent.experiences %}
				<span title="{{{experience.descriptionua}}}">
				  <p>Послуга: {{{experience.nameua}}}</p>
				  {% if experience.pricehourlyuah %}
				  <p>Ціна:{{{experience.pricehourlyuah}}} грн/год.</p>
				  {% endif %}
				  {% endfor %}
				</span>
				</div>
				{% endfor %}
			  </section>
			</div>

		<div class="container">
			<div class="global-title articles__land-title">
					P<span>LAN</span>
				</div>
		<div class="slider-container">
   			<div class="slider-content">
      			<div class="slide">
				<div class="slide_text">Minor Sponsor</div>
				<div class="slide_text">500$ <br />per month</div>
				<div class="slide_text">Hire Part Time Developer</div>
				<button>Start</button>
				</div>
      			<div class="slide">
				<div class="slide_text">Minor Sponsor</div>
				<div class="slide_text">2000$ <br />per month</div>
				<div class="slide_text">Hire Full Time Developer</div>
				<button>Start</button>
				</div>
				<div class="slide">
				<div class="slide_text">Partner</div>
				<div class="slide_text">Donation </div>
				<div class="slide_text">Add Feature</div>
				<button>Donate</button>
				</div>
				<div class="slide">
				<div class="slide_text">Minor Sponsor</div>
				<div class="slide_text">500$ <br />per month</div>
				<div class="slide_text">Hire Part Time Developer</div>
				<button>Start</button>
				</div>
      			<div class="slide">
				<div class="slide_text">Minor Sponsor</div>
				<div class="slide_text">2000$ <br />per month</div>
				<div class="slide_text">Hire Full Time Developer</div>
				<button>Start</button>
				</div>
				<div class="slide">
				<div class="slide_text">Partner</div>
				<div class="slide_text">Donation </div>
				<div class="slide_text">Add Feature</div>
				<button>Donate</button>
				</div>
    		</div>
 	 </div>
	 </div>

		<section>
			<div class="container">
				<form class="meeting">
					<label for="name">Your name:</label><br>
					<input type="text" id="name" name="name"><br><br>
					<label for="number">Your number:</label><br>
					<input type="number" id="number" name="number"><br><br>
					<label for="email">Your email:</label><br>
					<input type="email" id="email" name="email"><br><br>
			
					<label for="message">Message:</label><br>
					<textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
				
					<button type="submit" value="Submit">Submit</button>
				  </form>
				</div>
			</section>
		<!-- <section class="partners">
			<div class="container">
				<div class="partners__main-title global-title">
					OUR <span>PARTNERS</span>
				</div>
				<div class="partners__list">
					<div class="partners__wrap">
						<div class="partners__item">
							<div class="partners__img">
								<img src="/template/img/articles.png" alt="">
							</div>
							<div class="partners__text">
								<div class="partners__title">
									Lorem ipsum title
								</div>
								<div class="partners__desription">
									Description information partner
								</div>
							</div>
						</div>
					</div>
					<div class="partners__wrap">
						<div class="partners__item">
							<div class="partners__img">
								<img src="/template/img/articles.png" alt="">
							</div>
							<div class="partners__text">
								<div class="partners__title">
									Lorem ipsum title
								</div>
								<div class="partners__desription">
									Description information partner
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		
	</div>
	
    <div class="footer">
        <div class="container">
            <div class="footer__list">
                <div class="footer__wrap footer__wrap--first">
                    <a href="">
                        <img src="/template/img/logo.png" alt="" />
                    </a>
                    <div class="footer__text">
                        {{{translate("Land.Stay connected with us on various social media platforms! Follow us on Facebook, Telegram, Instagram, and to stay updated with the latest news, exciting offers, and exclusive content. Join our social media community and be part of the conversation. We look forward to engaging with you and sharing our journey together. See you there!")}}}
                    </div>
                </div>
                <div class="footer__list-wrap footer__wrap">
                    <div class="footer__item">
                        <a class="footer__links-title" href="">{{{translate("Land.Body")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Business Plan")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Wiki")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Who we are")}}}</a>
                    </div>
                    <div class="footer__item">
                        <a class="footer__links-title" href="/">{{{translate("Land.Products")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Face Cream")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Sport Clothes")}}}</a>
                    </div>
                    <div class="footer__item">
                        <a class="footer__links-title" href="/">{{{translate("Land.Services")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Custom Tables")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Custom Kitchen")}}}</a>
                    </div>
                    <div class="footer__item">
                        <a class="footer__links-title" href="/">{{{translate("Land.Articles")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.New Face Cream")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.New Sport Clothes")}}}</a>
                    </div>
                    <div class="footer__item">
                        <h3 class="footer__links-title">{{{translate("Land.Languages")}}}</h3>
                        <button class="footer__link" onclick="selectLanguage('en')">
                            English
                        </button>
                        <button class="footer__link" onclick="selectLanguage('ua')">
                            Українська
                        </button>
                    </div>
                </div>
    
                <div class="footer__wrap footer__wrap--last">
                    <div class="footer__wrap-socials">
                        <!-- <a href="" class="footer__btn btn">
                            <img src="/template/img/icons/v.svg" alt="" />
                        </a> -->
                        <a href="tel:+380960786786714" class="footer__btn btn">
                            <img src="/template/img/icons/phone.svg" alt="" />
                        </a>
                        <a href="https://t.me/neryxomka_news" target="_blank" class="footer__btn btn">
                            <img src="/template/img/icons/tg.svg" alt="" />
                        </a>
                        <a href="https://twitter.com/neryxomka" target="_blank" class="footer__btn btn">
                            <img src="/template/img/icons/twit.svg" alt="" />
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100090910920539" target="_blank" class="footer__btn btn">
                            <img src="/template/img/icons/face.svg" alt="" />
                        </a>
                        <a href="https://instagram.com/neryxomka?igshid=YmMyMTA2M2Y=" target="_blank" class="footer__btn btn">
                            <img src="/template/img/icons/inst.svg" alt="" />
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
	<script>
    // JavaScript для руху слайдера
    let slider = document.querySelector('.slider-content');
    let slides = document.querySelectorAll('.slide');
    let slideWidth = slides[0].offsetWidth;
    let counter = 0;

    function moveSlide() {
      counter++;
      if (counter === slides.length) {
        counter = 0;
      }
      let offset = -slideWidth * counter;
      slider.style.transform = `translateX(${offset}px)`;
    }

    setInterval(moveSlide, 2000); // Час між перемиканням слайдів (в мілісекундах)
  </script>
    <script>
        function selectLanguage(lang) {
            fetch("/api/user/lang/" + lang, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    window.scrollTo(0, 0);
    
                    location.reload();
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }
    </script>
    

</div>
